.addButton {
    background-color: hsl(120, 30%, 48%);
    color: white;
    font-size: clamp(0.875rem, 2.5vw, 1.125rem);
    border: none;
    padding: 6px;
    cursor: pointer;
    transition: 0.50s;
}

.addButton:hover {
    background-color: hsl(120, 30%, 34%);
}